<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='assets/img/apple-icon.png')}}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/img/favicon.png')}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>BlackQR</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="{{ url_for('static', filename='assets/css/demo.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/material-dashboard.css')}}" rel="stylesheet" />
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='asserts/css/bootstrap.min.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/web-fonts-with-css/css/fontawesome-all.css')}}" >

    <script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/dataTables.bootstrap.min.js')}}"></script>


    <script src="{{ url_for('static', filename='assets/js/angular179.js')}}"></script>
    <link href="{{ url_for('static', filename='assets/css/jquery-ui.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/style.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css')}}" />
    <style>

.selected {
    color: red;
    background-color: yellow;
}
.display-table {
  font-weight: 900;
}


</style>
</head>
<script>
$(document).ready(function(){
  $(".close_loan").click(function(){
    if (confirm("Press OK to Close Loan")){
        var amount = document.getElementById("paid_amount_".concat($(this).attr('loan_id'))).value;
        $.post('/api/account/close_loan', {'user_id': $(this).attr('user_id'),
                                'loan_id': $(this).attr('loan_id'), 'amount': amount},
                function(returnedData){
                    var w = window.open('about:blank');
                    w.document.open();
                    w.document.write(returnedData);
                    w.document.close();
            }).fail(function(){
                  console.log("error");
            });
            location.reload()
        }
  });
});
</script>
<div class="container">
    <div class="row"><h2>Extend Hafta or Add new Loan</h2></div>
    <div class="row">
        {% set last = data|last %}
        <div class="col-md-3"><h4>Name: {{last.user_name}}</h4></div>
        <div class="col-md-3"><h4>Phone: {{last.user_phone}}</h4></div>
        <div class="col-md-3"><h4>Address: {{last.user_address}}</h4></div>
        <div class="col-md-3"><h4>City: {{last.user_city}}</h4></div>

    </div>



</div>
<div style="padding: 50px;">
<table id="example" class="table table-bordered display-table" style="width:100%; padding-top: 50px;">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Loan Id</th>
                <th>Pending Installments</th>
                <th>Loan Status</th>
                <th>Pending Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for d in data %}
            <tr>
                <td>{{d.id}}</td>
                <td>{{d.transaction_id}}</td>
                <td>{{d.no_of_pending_installments}}</td>
                <td>{{"Pending" if d.loan_status in [0, None] else "Done"}}</td>
                <td><input type="text" id="paid_amount_{{d.transaction_id}}" value="{{d.pending_total_amount}}"></td>
                <td>

                    <a class="close_loan add" title="Close" data-toggle="tooltip"  user_id="{{d.id}}" loan_id="{{d.transaction_id}}"><i class="fa fa-times"></i></a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>User ID</th>
                <th>Loan Id</th>
                <th>Pending Installments</th>
                <th>Loan Status</th>
                <th>Pending Amount</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>

    </div>
<script>
$(document).ready(function() {
    $('#example').DataTable();

   $(".display-table tr").click(function(){
   $(this).addClass('selected').siblings().removeClass('selected');
   var value=$(this).find('td:first').html();

   });


} );
</script>
<script>
    function getDate(){
    var today = new Date();

document.getElementById("date").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
}
</script>
<link href="{{ url_for('static', filename='assets/css/jquery-ui.css')}}" rel="stylesheet" />
<link href="{{ url_for('static', filename='assets/css/style.css')}}" rel="stylesheet" />
<link href="{{ url_for('static', filename='assets/css/bootstrap.min.css')}}" />
<script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/dataTables.bootstrap.min.js')}}"></script>

</html>