<style>


.selected {
    color: red;
    background-color: white;
}
.display-table {
  font-weight: 900;
}

table#example {
    width: 100%;
     padding-top: 0px;
    height: 400px!important;
    display: block;
    position: relative;
    overflow-y: auto;
}
div#example_info {
    z-index: 100;
    position: absolute;
    bottom: -25px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
     margin: 0px !important;
    border-radius: 4px;
    float: right;
}
div#example_wrapper {
    max-width: 85%;
    margin-left:15px;
}
.wrapper {
    position: relative;
    top: 0;
    height: auto !important;
}
.main-panel {
    min-height: auto;
}
</style>

<script>
$(document).ready(function(){
    $(".new_customer").click(function(){
          $.post('/api/test', {'url': 'http://127.0.0.1:5000/api/hafta/new_hafta_entry_dialog', 'debit': 1},
            function(returnedData){
                 var w = window.open('about:blank');
                    w.document.open();
                    w.document.write(returnedData);
                    w.document.close();
        }).fail(function(){
              console.log("error");
        });
  });

  $(".edit").click(function(){
    $.post('/api/test', {'url': 'http://127.0.0.1:5000/api/hafta/customer_edit_dialog', 'user_id': $(this).attr('user_id')},
            function(returnedData){



                var w = window.open('about:blank');
                w.document.open();
                w.document.write(returnedData);
                w.document.close();

        }).fail(function(){
              console.log("error");
        });
  });

  $(".new").click(function(){
    $.post('/api/test', {'url': 'http://127.0.0.1:5000/api/debit_account/add_new', 'user_id': $(this).attr('user_id')},
            function(returnedData){
                var w = window.open('about:blank');
                w.document.open();
                w.document.write(returnedData);
                w.document.close();

        }).fail(function(){
              console.log("error");
        });
  });
});
</script>
<div class="container-fluid" style="padding-top:50px;">

    <div class="row">
        <div class="col-sm-9">

        </div>
        <div class="col-md-3">
            <a class="new_customer btn btn-primary" title="ADD CUSTOMER" data-toggle="tooltip"><i class="fa fa-user-plus" aria-hidden="true"> Customer</i></a>

        </div>
    </div>

<table id="example" class="table table-bordered display-table" style="width:100%;">
        <thead>
            <tr style="background-color:black; color:white;">
                <th><b>User Id</b></th>
                <th><b>Name</b></th>
                <th><b>Phone</b></th>
                <th><b>User Type</b></th>
                <th><b>No. of Loan </b></th>
                <th><b>No. of Account</b></th>
                <th><b>Actions</b></th>
            </tr>
        </thead>
        <tbody>
        {% for d in data %}
            <tr>
                <td>{{d.id}}</td>
                <td>{{d.user_name}}</td>
                <td>{{d.user_phone}}</td>
                <td>{{d.customer_type}}</td>
                <td>{{d.num_loan_hafta}}</td>
                <td>{{d.num_loan_account}}</td>
                <td>
                    <a class="edit add" title="Edit" data-toggle="tooltip"  user_id="{{d.id}}"><i class='far fa-edit'></i></a>

                    <a class="new add" title="New/Extend" data-toggle="tooltip"  user_id="{{d.id}}"><i class="fa fa-plus"></i></a>
<!--                    <a class="add_collection" title="Day Collection" data-toggle="tooltip" data="{{d.id}}"><i class="fa fa-plus"></i></a>-->
                    <a class="close_loan" title="Close Loan" data-toggle="tooltip" data="{{d.id}}"><i class="fa fa-times"></i></a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>User Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>User Type</th>
                <th>No. of Loan </th>
                <th>No. of Account</th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>

    </div>
<script>
$(document).ready(function() {
    $('#example').DataTable();

   $(".display-table tr").click(function(){
   $(this).addClass('selected').siblings().removeClass('selected');
   var value=$(this).find('td:first').html();

   });

} );
</script>

