<style>

.selected {
    color: red;
    background-color: white;
}
.display-table {
  font-weight: 500;
              font-size: 17px;
              font-family: "Verdana";
}

.box{
    border-radius: 25px;
  box-sizing: border-box;
  border: 3px solid transparent;
  background-clip:padding-box;
}

</style>
<script>
$(document).ready(function(){
    $(".new_customer").click(function(){
          $.post('/api/test', {'url': 'http://127.0.0.1:5000/api/account/new_account_entry_dialog'},
            function(returnedData){
                 var w = window.open('about:blank');
                    w.document.open();
                    w.document.write(returnedData);
                    w.document.close();
        }).fail(function(){
              console.log("error");
        });
  });

  $(".new").click(function(){
    $.post('/api/test', {'url': 'http://127.0.0.1:5000/api/account/account_hafta_extend_dialog', 'user_id': $(this).attr('user_id')},
            function(returnedData){
                var w = window.open('about:blank');
                w.document.open();
                w.document.write(returnedData);
                w.document.close();

        }).fail(function(){
              console.log("error");
        });
  });
  $(".add_collection").click(function(){
    $.post('/api/test', {'url': 'http://127.0.0.1:5000/api/account/add_collection_dialog',
                        'user_id': $(this).attr('data'),
                        'loan_id': $(this).attr('loan_id')},
            function(returnedData){
            var w = window.open('about:blank');
            w.document.open();
            w.document.write(returnedData);
            w.document.close();
                 console.log(returnedData);
        }).fail(function(){
              console.log("error");
        });
  });

  $(".edit").click(function(){
    $.post('/api/test', {'url': 'http://127.0.0.1:5000/api/hafta/customer_edit_account_dialog', 'user_id': $(this).attr('user_id')},
            function(returnedData){
                var w = window.open('about:blank');
                w.document.open();
                w.document.write(returnedData);
                w.document.close();

        }).fail(function(){
              console.log("error");
        });
  });


  $(".close_loan").click(function(){
    $.post('/api/test', {'url':'http://127.0.0.1:5000/api/account/close_loan_dialog', 'user_id': $(this).attr('data')},
            function(returnedData){var w = window.open('about:blank');
            w.document.open();
            w.document.write(returnedData);
            w.document.close();
                 console.log(returnedData);
        }).fail(function(){
              console.log("error");
        });
  });

});
</script>




<div style="padding: 50px;padding-top:100px; ">
    <div class="row">
        <div class="col-sm-9">

        </div>
        <div class="col-md-3">
            <a class="new_customer btn" style="background-color: #008fe4;" title="ADD CUSTOMER" data-toggle="tooltip"><i class="fa fa-user-plus" aria-hidden="true"> New Account</i></a>
        </div>
    </div>

<table id="example" class="table table-bordered display-table" style="width:100%; padding-top: 50px;">
        <thead>
            <tr style="background-color:black; color:white;">
                <th style="text-align: center;"><b>Id</b></th>
                <th style="text-align: center;"><b>Name</b></th>
                <th style="text-align: center;"><b>Phone</b></th>
                <th style="text-align: center;"><b>Type</b></th>
                <th style="text-align: center;"><b>Loans</b></th>
                <th style="text-align: center;"><b>A/C</b></th>
                <th style="text-align: center;"><b>Actions</b></th>
            </tr>
        </thead>
        <tbody>
        {% for d in data %}
            <tr>
                <td>{{d.loan_id}}</td>
                <td>{{d.user_name}}</td>
                <td>{{d.user_phone}}</td>
                <td>{{d.customer_type}}</td>
                <td>{{d.num_loan_hafta}}</td>
                <td>{{d.num_loan_account}}</td>
                <td>
                    <div class="row" style="padding: 10px;">
                        <div style="text-align: center;" class="col-md-6 box bg-primary"><a style="color: white;" class="edit add" title="Edit" data-toggle="tooltip"  user_id="{{d.id}}">Edit Detail</a></div>
                        <div style="text-align: center;" class="col-md-6 box bg-primary"><a style="color: white;" class="new add" title="New/Extend" data-toggle="tooltip"  user_id="{{d.id}}">View A/C</a></div>
<!--                        <div style="text-align: center;" class="col-md-4 box bg-primary"><a style="color: white;" class="add_collection" title="Day Collection" data-toggle="tooltip" data="{{d.id}}">Hafta</a></div>-->
                    </div>


                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    </div>
<script>
<!--$(document).ready(function() {-->
<!--    $('#example').DataTable();-->

<!--   $(".display-table tr").click(function(){-->
<!--   $(this).addClass('selected').siblings().removeClass('selected');-->
<!--   var value=$(this).find('td:first').html();-->

<!--   });-->
<!--} );-->

$(document).ready(function() {
    $('#example').DataTable( {
        "scrollY": 300,
        "scrollX": true
    } );
    $(".display-table tr").click(function(){
   $(this).addClass('selected').siblings().removeClass('selected');
   var value=$(this).find('td:first').html();
   });
} );
</script>

